
<div class="top-container">
    <!-- <div class="book-now-box">
      <button class="book-now-button">Book Here</button>


    </div> -->
    <div>
   
    </div>

    <div class="profile-box">
  
        <h4>XYZ Clinic</h4>
      <p><i class="fa-solid fa-sliders"></i></p>
    </div>
  </div>
  