

  <div class="top-container">
    <div class="business-header">
      <p class="todays-header">XYZ CLINIC</p>
    </div>
    <div class="right-box">
      
    <div class="book-now-box">
      <button class="book-now-button">Book Here</button>


    </div>

    <div class="profile-box">
      <p><i class="fa-solid fa-sliders"></i></p>
    </div>
    </div>
  </div>